@font-face {
  font-family: "nazanin";
  src: url(./B-NAZANIN.TTF);
}

.container-admin {
  display: flex;
  flex-direction: row;
  margin: 2rem 5vw;
  border-radius: 12px;
  overflow: hidden;
}

.sidebar {
  width: 15vw;
  background-color: #919191b7;
  padding: 0 1rem;
}

.main-content {
  width: 75vw;
  padding: 2rem;
}

.form-label {
  font-family: "nazanin";
  padding: 0;
  margin: 0;
}

.form-input {
  font-family: "nazanin";
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #7c7c7c97;
  width: 25rem;
  height: 3rem;
  padding: 0.25rem 1rem;
}

.form-textbox {
  font-family: "nazanin";
  border-radius: 6px;
  padding: 0.25rem 1rem;
  border: 1px solid #7c7c7c97;
  font-size: 1rem;
  width: 25rem;
  height: 8rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 30rem;
}

.form-container > h2 {
  margin: 0;
}

.form-button {
  width: 25rem;
  height: 3rem;
  border-radius: 6px;
  font-family: "nazanin";
  background-color: #1a8704de;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.variants {
  padding: 2rem 10rem;
}

.variant-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.variant-input {
  font-family: "nazanin";
  border-radius: 6px;
  height: 2rem;
  width: 10rem;
  padding: 0.25rem 1rem;
  border: 1px solid #7c7c7c97;
  font-size: 1rem;
}

.remove-variant {
  border: 1px solid #7c7c7c97;
  border-radius: 6px;
}

.add-variant {
  border: 1px solid #7c7c7c97;
  border-radius: 6px;
  font-family: "nazanin";
  margin-top: 1rem;
  font-size: 1rem;
}

.register-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.next-previous {
  border: 1px solid #7c7c7c97;
  border-radius: 6px;
  font-family: "nazanin";
  font-size: 1rem;
}

.register {
  border: 1px solid #7c7c7c97;
  border-radius: 6px;
  font-family: "nazanin";
  font-size: 1rem;
  background-color: #1a8704de;
  color: #fff;
}

.variants > VariantRow {
  margin-bottom: 0.25rem;
}
