.badge-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.badge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
