.footer {
  background-color: #f9f9f9;
  padding: 15px 5vw;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.map {
  border: 2px solid #434343;
  border-radius: 12px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-info-item {
  display: flex;
  gap: 5px;
}

.contact-info-item > h3 {
  margin: 0;
}

a {
  color: #434343;
}

.color {
  fill: aqua;
}
