* {
  box-sizing: border-box;
}

.hero-carousel {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  /* direction: rtl;  */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.content {
  position: absolute;
  z-index: 2;
  color: #fff;
  right: 15vw;
  top: 50%;
  transform: translateY(-50%);
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000000;
  color: white;
  padding: 20px 50px;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #424242;
}

/* دکمه‌های ناوبری */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 430px 30px;
  border-radius: 1%;
  z-index: 3;
}

.nav.prev {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.nav.next {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* دات‌ها */
.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.dots button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dots button.active {
  background: #000000;
}
