:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "nazanin";
  src: url(./B-NAZANIN.TTF);
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "nazanin";
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding-top: 0.5vh;
}

.logo {
  width: 8rem;
}

.main-nav {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icon-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

a {
  font-weight: 500;
  color: #013600;
  text-decoration: inherit;
}
a:hover {
  color: #018c14;
}

.social-icons {
  display: none;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  direction: rtl;
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #999;
  max-width: 100px;
}

.section-title h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.category-section {
  text-align: center;
  margin: 1rem 0;
  direction: rtl;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 3rem;
  /* flex-wrap: wrap; */
}

.category-card {
  text-align: center;
  width: 20vw;
}

.image-wrapper {
  width: 18vw;
  height: 35vw;
  overflow: hidden;
  border-radius: 50% / 55%;
  background-color: #f4f4f4;
  margin: 0 auto;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-card p {
  margin-top: 0.8rem;
  font-weight: 500;
  color: #333;
  font-size: 1.1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #00b83d;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

@media (max-width: 1250px) {
  .main-nav {
    font-size: 1.1rem;
    gap: 1.2rem;
  }
}

@media (max-width: 750px) {
  header {
    justify-content: space-between;
  }
  .icon-nav {
    display: none;
  }

  .logo {
    padding-right: 15px;
  }
  .social-icons {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .main-nav {
    display: none;
  }
}
